<div id="<%= dom_id character_sheet %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Name:</h4>
    <p class="leading-none"><%= character_sheet.name %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Level:</h4>
    <p class="leading-none"><%= character_sheet.level %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Proficiency Bonus:</h4>
    <% prof = 2+(character_sheet.level.to_i / 4) %>
    <p class="leading-none"><%= prof %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Experiencepoints:</h4>
    <p class="leading-none"><%= character_sheet.experiencePoints %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Inspiration:</h4>
    <p class="leading-none"><%= character_sheet.inspiration %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Hit Points:</h4>
    <p class="leading-none"><%= character_sheet.hitPoints %>/<%= character_sheet.hitPointMaximum %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Temporary Hit Points:</h4>
    <p class="leading-none"><%= character_sheet.temporaryHitPoints %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Hit Dice Spent:</h4>
    <p class="leading-none"><%= character_sheet.hitDiceSpent %>/<%= character_sheet.hitDiceMaximum %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Death Save Successes:</h4>
    <p class="leading-none"><%= character_sheet.deathSaveSuccesses %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Death Save Failures:</h4>
    <p class="leading-none"><%= character_sheet.deathSaveFailures %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Strength Score:</h4>
    <p class="leading-none"><%= character_sheet.strengthScore %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Strength Modifier:</h4>
    <p class="leading-none"><%= str_mod = (character_sheet.strengthScore.to_i - 10)/2 %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Strength Saving Throw:</h4>
    <p class="leading-none"><%= str_mod + (character_sheet.strengthSavingThrowProficiency ? prof : 0) %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Strength Saving Throw Proficiency:</h4>
    <p class="leading-none"><%= character_sheet.strengthSavingThrowProficiency %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Dexterity Score:</h4>
    <p class="leading-none"><%= character_sheet.dexterityScore %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Dexterity Modifier:</h4>
    <p class="leading-none"><%= dex_mod = (character_sheet.dexterityScore.to_i - 10)/2 %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Dexterity Saving Throw:</h4>
    <p class="leading-none"><%= dex_mod + (character_sheet.dexteritySavingThrowProficiency ? prof : 0) %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Dexterity Saving Throw Proficiency:</h4>
    <p class="leading-none"><%= character_sheet.dexteritySavingThrowProficiency %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Constitution Score:</h4>
    <p class="leading-none"><%= character_sheet.constitutionScore %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Constitution Modifier:</h4>
    <p class="leading-none"><%= con_mod = (character_sheet.constitutionScore.to_i - 10)/2 %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Constitution Saving Throw:</h4>
    <p class="leading-none"><%= con_mod + (character_sheet.constitutionSavingThrowProficiency ? prof : 0) %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Constitution Saving Throw Proficiency:</h4>
    <p class="leading-none"><%= character_sheet.constitutionSavingThrowProficiency %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Intelligence Score:</h4>
    <p class="leading-none"><%= character_sheet.intelligenceScore %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Intelligence Modifier:</h4>
    <p class="leading-none"><%= int_mod = (character_sheet.intelligenceScore.to_i - 10)/2 %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Intelligence Saving Throw:</h4>
    <p class="leading-none"><%= int_mod + (character_sheet.intelligenceSavingThrowProficiency ? prof : 0) %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Intelligence Saving Throw Proficiency:</h4>
    <p class="leading-none"><%= character_sheet.intelligenceSavingThrowProficiency %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Wisdom Score:</h4>
    <p class="leading-none"><%= character_sheet.wisdomScore %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Wisdom Modifier:</h4>
    <p class="leading-none"><%= wid_mod = (character_sheet.wisdomScore.to_i - 10)/2 %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Wisdom Saving Throw:</h4>
    <p class="leading-none"><%= wid_mod + (character_sheet.wisdomSavingThrowProficiency ? prof : 0) %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Wisdom Saving Throw Proficiency:</h4>
    <p class="leading-none"><%= character_sheet.wisdomSavingThrowProficiency %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Charisma Score:</h4>
    <p class="leading-none"><%= character_sheet.charismaScore %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Charisma Modifier:</h4>
    <p class="leading-none"><%= cha_mod = (character_sheet.charismaScore.to_i - 10)/2 %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Charisma Saving Throw:</h4>
    <p class="leading-none"><%= cha_mod + (character_sheet.charismaSavingThrowProficiency ? prof : 0) %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Charisma Saving Throw Proficiency:</h4>
    <p class="leading-none"><%= character_sheet.charismaSavingThrowProficiency %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Notes:</h4>
    <p class="leading-none"><%= character_sheet.notes %></p>
  </div>
</div>
