<div id="<%= dom_id character_sheet %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Name:</h4>
    <p class="leading-none"><%= character_sheet.name %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Level:</h4>
    <p class="leading-none"><%= character_sheet.level %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Experiencepoints:</h4>
    <p class="leading-none"><%= character_sheet.experiencePoints %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Inspiration:</h4>
    <p class="leading-none"><%= character_sheet.inspiration %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Hitpoints:</h4>
    <p class="leading-none"><%= character_sheet.hitPoints %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Temporaryhitpoints:</h4>
    <p class="leading-none"><%= character_sheet.temporaryHitPoints %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Hitpointmaximum:</h4>
    <p class="leading-none"><%= character_sheet.hitPointMaximum %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Hitdicespent:</h4>
    <p class="leading-none"><%= character_sheet.hitDiceSpent %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Hitdicemaximum:</h4>
    <p class="leading-none"><%= character_sheet.hitDiceMaximum %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Deathsavesuccesses:</h4>
    <p class="leading-none"><%= character_sheet.deathSaveSuccesses %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Deathsavefailures:</h4>
    <p class="leading-none"><%= character_sheet.deathSaveFailures %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Strengthscore:</h4>
    <p class="leading-none"><%= character_sheet.strengthScore %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Dexterityscore:</h4>
    <p class="leading-none"><%= character_sheet.dexterityScore %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Constitutionscore:</h4>
    <p class="leading-none"><%= character_sheet.constitutionScore %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Intelligencescore:</h4>
    <p class="leading-none"><%= character_sheet.intelligenceScore %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Wisdomscore:</h4>
    <p class="leading-none"><%= character_sheet.wisdomScore %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Charismascore:</h4>
    <p class="leading-none"><%= character_sheet.charismaScore %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Strengthsavingthrowproficiency:</h4>
    <p class="leading-none"><%= character_sheet.strengthSavingThrowProficiency %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Dexteritysavingthrowproficiency:</h4>
    <p class="leading-none"><%= character_sheet.dexteritySavingThrowProficiency %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Constitutionsavingthrowproficiency:</h4>
    <p class="leading-none"><%= character_sheet.constitutionSavingThrowProficiency %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Intelligencesavingthrowproficiency:</h4>
    <p class="leading-none"><%= character_sheet.intelligenceSavingThrowProficiency %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Wisdomsavingthrowproficiency:</h4>
    <p class="leading-none"><%= character_sheet.wisdomSavingThrowProficiency %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Charismasavingthrowproficiency:</h4>
    <p class="leading-none"><%= character_sheet.charismaSavingThrowProficiency %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Notes:</h4>
    <p class="leading-none"><%= character_sheet.notes %></p>
  </div>
</div>
